/* Undo styling rules updated by including panels. These are just the old styles but marked as important */
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px !important;
  }
}

/* Fix icon spacing in prev/next buttons. Hack to get all FontAwesome icons */
main.bd-content #main-content .prev-next-bottom .right-next i.fa-fw {
  padding-right: 0.75rem;
  padding-left: 0rem;
}

.table-section {
  display: flex;
  justify-content: space-around;
}

.table-div {
  margin: 0 20px 0 20px;
}

@media (max-width: 768px) {
  .table-section {
    display: block;
  }
}


.flex {
  display: flex;
}

.trace-snippet-container {
  margin-bottom: 1.15rem;
}

.trace-snippet {
  border: none;
}